name: Windows

on: 
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: windows-latest
    strategy:
      matrix:
        build_type: [Release]
        architecture: [Win32, x64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Cmake
        run: |
          if [ "${{ matrix.architecture }}" == "Win32" ]; then
        cmake -S . -B build -A ${{ matrix.architecture }} -D CMAKE_BUILD_TYPE=${{ matrix.build_type }} -DOPEN_ATMOS_ENABLE_PYTHON_LIBRARY=OFF
          else
        cmake -S . -B build -A ${{ matrix.architecture }} -D CMAKE_BUILD_TYPE=${{ matrix.build_type }}
          fi

      - name: Build
        run: cmake --build build --config ${{ matrix.build_type }} --parallel 10

      - name: Run tests
        run: |
          cd build
          ctest -C ${{ matrix.build_type }} --rerun-failed --output-on-failure . --verbose